@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}
.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content ul li {
  margin: 1.15rem 0;
  margin-left: 1.3rem;
  list-style-type: circle;
}

.post-content ol li {
  margin: 1.15rem 0;
  margin-left: 1.3rem;
  list-style-type: decimal;
}

.post-content a {
  /* light blue */
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content pre {
  background-color: rgb(30, 41, 59);
  border: 1px solid rgb(61, 69, 83);
  color: rgb(232, 231, 231);
  white-space: pre-wrap;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-content code {
  background-color: rgb(236, 236, 236);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.dark .post-content code {
  background-color: rgb(30, 41, 59);
  border: 1px solid rgb(61, 69, 83);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
}

.bg-amber-100 {
  background-color: transparent !important;
  padding: 0 !important;
  transition: background-color 0.6s ease-in-out;
}
